.overall{
  display: flex;
  text-align: center;
}
.login-container {
    width: 400px;
    height: 600px;
    margin-left: 1300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
    text-align: center;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 2px 10px 10px 2px grey; 
  }
  .login-container:hover{
    box-shadow:2px 2px 5px 5px black;
  }
  .pass{
    margin-bottom: 100px;
  }
  .content
  {
    margin-top:70px;
    margin-bottom: 50px;
  }
  form{
    margin-top: 75px;
  }
  button{
    border:2px solid white;
    border-radius:10px;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
    padding:10px;
    background-color: skyblue ;
  }
  button:hover{
    background-color:greenyellow;
  }
  h1{
    font-size:70px;
    text-align:center;
    font-weight: bold;
    font-style:italic;
    font-family:'Impact';
  }
  label{
    font-family: 'Gill Sans';
    font-size: 25px;
    font-weight:bold;
    font-style:italic;
    margin-top:100px;
    margin-bottom: 100px;
  }
  input{
    padding:10px;
    margin-bottom: 16px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size: large;
    font-weight: bold;
    font-family: impact;
    text-align: center;
  }
  .link
  {
    text-decoration: none;
    color:blue;

  }
  .link2
  {
    text-decoration: none;
    color:white;
  }
  .error-message{
    color:red;
    font-weight: bold;
  }

  